<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>尘白禁区信源研析</title>
  <script src="https://registry.npmmirror.com/vue/3.5.7/files/dist/vue.global.prod.js"></script>
  <script src="https://registry.npmmirror.com/vuetify/3.7.2/files/dist/vuetify.min.js"></script>
  <link href="https://registry.npmmirror.com/vuetify/3.7.2/files/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://registry.npmmirror.com/@mdi/font/5.x/files/css/materialdesignicons.min.css" rel="stylesheet">
  <script src="./calc.min.js"></script>
  <style>
      .color-transition {
          transition-property: background-color, color;
          transition-duration: 750ms;
      }

      .rotate-180 {
          transform: rotate(180deg);
      }

      .transform-transition {
          transition: transform 500ms;
      }
  </style>
</head>

<body>
<div id="app">
  <v-app :class="{ 'color-transition': theme_transitioning }" :theme="custom_theme ?? system_theme">
    <v-app-bar :class="{ 'color-transition': theme_transitioning }" extension-height="0">
      <v-app-bar-nav-icon
        variant="text"
        @click.stop="nav_drawer=!nav_drawer"
      ></v-app-bar-nav-icon>
      <v-app-bar-title>
        尘白禁区-信源研析计算器
      </v-app-bar-title>
      <v-btn
        :class="{ 'rotate-180': (custom_theme ?? system_theme)==='light' }"
        class="transform-transition"
        icon="mdi-theme-light-dark"
        @click="toggleTheme"></v-btn>
      <template v-slot:extension>
        <v-progress-linear
          :active="loading"
          absolute
          indeterminate
        ></v-progress-linear>
      </template>
    </v-app-bar>

    <v-navigation-drawer
      v-model="nav_drawer"
      :class="{ 'color-transition': theme_transitioning }"
    >
      <v-list-item id="nav_board_config" link>重置底盘</v-list-item>
      <v-list-item id="nav_my_blocks" link>我的方块</v-list-item>
      <v-divider></v-divider>
      <v-list-item>
        <v-row no-gutters>
          <!--suppress JSUnusedLocalSymbols -->
          <v-col cols="6" v-for="(_,i) in num">
            <v-text-field
              v-model.number="num[i]"
              :label="'方块 ' + (i+1)"
              :rules="[rules.isBlockNum]"
              class="ma-2"
              density="compact"
              hide-details
              min="0"
              type="number"
              variant="outlined"
            ></v-text-field>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model.number="num_for_all"
              :rules="[rules.isBlockNum]"
              class="ma-2"
              density="compact"
              hide-details
              label="全部"
              min="0"
              type="number"
              variant="outlined"
              @input="fillBlocks(num_for_all)"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-list-item>
    </v-navigation-drawer>

    <v-main>
      <v-container class="v-col-md-6 v-col-lg-3">
        <v-row v-for="(r, i) in board" no-gutters>
          <v-col
            v-for="(c, j) in r"
          >
            <v-responsive
              :class="res.length>0? 'bg-'+color[sol[i][j]] :(c===0? 'bg-grey' : 'bg-grey-darken-1')"
              aspect-ratio="1"
              class="border-md cursor-pointer text-center align-center color-transition"
              @click="tuneBox(i, j)"
            >
              <v-icon icon="mdi-close" v-if="c===0"></v-icon>
              <h3
                v-else-if="res.length>0"
                v-text="sol[i][j]"
              ></h3>
              <v-icon icon="mdi-help" v-else></v-icon>
            </v-responsive>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-slide-x-transition>
              <v-alert
                v-show="is_low_records"
                :type="numOfBoard>24?'warning':'error'"
                text="此底盘布局奖励低，建议重构布局！"
              ></v-alert>
            </v-slide-x-transition>
          </v-col>
        </v-row>
        <v-row v-show="res.length>0" class="text-center">
          <v-col>
            <v-btn :disabled="now<=0" icon="mdi-chevron-left" @click="now--" variant="text"></v-btn>
          </v-col>
          <v-col>
            {{ now + 1 }}
            <v-divider></v-divider>
            {{ res.length }}
          </v-col>
          <v-col>
            <v-btn :disabled="res.length<=(now+1)" icon="mdi-chevron-right" @click="now++" variant="text"></v-btn>
          </v-col>
          <v-col cols="12">
            <v-divider></v-divider>
          </v-col>
        </v-row>
        <v-row v-show="res.length>0" class="text-center">
          <v-col>
            {{ sol?.number?.toFixed(2) || '-' }}
            <div class="text-subtitle-2">
              方案方差
            </div>
          </v-col>
          <v-col>
            <v-btn icon="mdi-check" @click="subByRes" variant="outlined"></v-btn>
          </v-col>
          <v-col>
            {{ is_low_records ? 80 : (90 + (numOfBoard === 30 ? 10 : 0)) }}
            +
            {{ numOfBoard > 24 ? 50 : 40 }}
            <div class="text-subtitle-2">
              基础奖励
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-footer app class="d-flex flex-column" :class="{ 'color-transition': theme_transitioning }">
      <div>2024 — <strong>jiejunf</strong></div>
    </v-footer>

    <v-dialog v-model="show_board_dialog" activator="#nav_board_config" width="auto">
      <template v-slot:default="{ isActive }">
        <v-card title="底盘尺寸">
          <v-card-text>
            <v-text-field v-model="row" :rules="[rules.lte10,rules.gte1]" label="行数（高）" type="number"
                          disabled></v-text-field>
            <v-text-field v-model="col" :rules="[rules.lte10,rules.gte1]" label="列数（宽）" type="number"
                          disabled></v-text-field>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text="关闭" @click="show_board_dialog=false"></v-btn>
            <v-btn text="确定" @click="confirmBoard"></v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>

    <v-dialog
      v-model="show_blocks_dialog"
      activator="#nav_my_blocks"
      fullscreen
      scrollable
      transition="dialog-bottom-transition"
    >
      <template v-slot:default="{ isActive }">
        <v-card>
          <v-toolbar>
            <v-btn icon="mdi-close" @click="show_blocks_dialog=false"></v-btn>
            <v-toolbar-title text="方块数量"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn text="I'm rich" @click="fillBlocks()"></v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-list lines="two" class="bg-transparent">
            <!--suppress JSUnusedLocalSymbols -->
            <v-list-item
              v-for="(b, i) in num"
            >
              <v-row no-gutters>
                <v-col class="v-col-sm-1 offset-md-1">
                  <v-text-field
                    v-model.number="num[i]"
                    :label="'方块 ' + (i+1)"
                    :rules="[rules.isBlockNum]"
                    class="ma-2"
                    density="compact"
                    hide-details
                    min="0"
                    tabindex="101"
                    type="number"
                    variant="outlined"
                  ></v-text-field>
                </v-col>
                <v-col align-self="center">
                  <v-slide-group
                    v-model="num[i]"
                    mandatory
                    show-arrows
                  >
                    <v-slide-group-item v-for="j in 31" v-slot="{ isSelected, toggle }">
                      <v-chip :variant="isSelected ? 'outlined' : 'text'" rounded @click="toggle"
                              v-text="j-1"></v-chip>
                    </v-slide-group-item>
                  </v-slide-group>
                </v-col>
              </v-row>
            </v-list-item>
          </v-list>
        </v-card>
      </template>
    </v-dialog>
  </v-app>
</div>

<script>
  const { createApp } = Vue
  const { createVuetify, blueprints } = Vuetify
  const vuetify = createVuetify({
    blueprint: blueprints.md3,
  })
  // noinspection JSUnusedGlobalSymbols
  createApp({
    data() {
      return {
        nav_drawer: null,
        show_board_dialog: null,
        show_blocks_dialog: null,
        loading: false,
        is_low_records: false,
        custom_theme: null,
        system_theme: null,
        prefer_dark_mode: window.matchMedia('(prefers-color-scheme: dark)'),
        theme_transitioning: false,
        rules: {
          lte10: value => value <= 10 || '数值应该小于/等于 10',
          gte1: value => value >= 1 || '数值应该大于/等于 1',
          isBlockNum: value => (value >= 0 && value <= 100) || '数值在 0-100 之间',
        },
        num_for_all: null,

        row: 5,
        col: 6,
        board: [],
        num: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        res: [],
        now: 0,
        calcWorker: null,
        color: [
          'transparent',
          'light-blue-lighten-4', 'deep-purple-lighten-4', 'blue-lighten-1', 'cyan-accent-1',
          'light-green-lighten-2', 'green-lighten-1', 'orange-accent-2', 'lime-lighten-1',
          'pink-lighten-3', 'red-lighten-1', 'indigo-lighten-1']
      }
    },
    mounted() {
      this.system_theme = this.prefer_dark_mode.matches ? 'dark' : 'light'
      this.prefer_dark_mode.addEventListener('change', e => {
        this.system_theme = e.matches ? 'dark' : 'light'
      });

      // noinspection JSUnresolvedReference
      this.confirmBoard()
    },
    methods: {
      confirmBoard() {
        const row = Number(this.row)
        const col = Number(this.col)
        this.board = new Array(row)
        for (let i = 0; i < row; ++i) {
          this.board[i] = new Array(col).fill(-1)
        }
        this.show_board_dialog = false
      },
      tuneBox(x, y) {
        if (this.board[x][y] === -1) {
          this.board[x][y] = 0
        } else {
          this.board[x][y] = -1
        }
      },
      calcByWorker() {
        if (this.calcWorker) {
          this.calcWorker.terminate()
        }
        this.calcWorker = new Worker('calc.min.js')
        this.calcWorker.onmessage = event => {
          // console.log('worker received', event.data)
          let result = event.data
          if (result.from === 'Solve') {
            this.displayResults(result.data)
          }
          this.calcWorker.terminate()
        }
        this.calcWorker.postMessage(JSON.parse(JSON.stringify({
          target: 'Solve',
          table: this.board,
          blockNums: this.num
        })))
      },
      calc() {
        this.loading = true
        this.res = []
        this.now = 0
        if (window.Worker) {
          this.calcByWorker()
          return
        }
        this.displayResults(Solve(this.board, this.num))
      },
      displayResults(res) {
        this.res = res
        this.now = 0
        this.loading = false
      },
      fillBlocks(n = 9) {
        this.num = Array(11).fill(n)
        this.show_blocks_dialog = false
      },
      subByRes() {
        let sum = []
        for (const row of this.sol) {
          for (const col of row) {
            if (!sum[col]) sum[col] = 0
            sum[col] += 1
          }
        }
        for (let num in sum) {
          num = num.toString()
          if (num === '0') continue
          let size = 4
          if (num === '8') {
            size = 5;
          } else if (num === '9') {
            size = 1;
          } else if (num === '10') {
            size = 2;
          } else if (num === '11') {
            size = 3;
          }
          this.num[num - 1] -= (sum[num] / size)
        }
      },
      toggleTheme() {
        this.theme_transitioning = true
        this.custom_theme = (this.custom_theme ?? this.system_theme) === 'dark' ? 'light' : 'dark'
        setTimeout(() => this.theme_transitioning = false, 750)
      }
    },
    computed: {
      sol() {
        return this.res[this.now]
      },
      numOfBoard() {
        return this.board.flat().filter(b => b < 0).length
      },
    },
    watch: {
      board: {
        handler() {
          this.calc()
        },
        deep: true,
      },
      num: {
        handler() {
          this.calc()
        },
        deep: true,
      },
      numOfBoard() {
        this.is_low_records = this.numOfBoard % 4 === 0
      },
    }
  }).use(vuetify).mount('#app')
</script>
</body>

</html>